// --------------------------------------------------
// base
// --------------------------------------------------

$colors: (
  'white': (
    'name': 'White',
    'base': #ffffff,
    'hover': darken(#ffffff, 10%),
  ),
  'black': (
    'name': 'black',
    'base': var(--color-black),
    'hover': darken(#2d2d2d, 10%),
  ),
  'primary': (
    'name': 'Primary',
    'base': var(--color-primary),
    'hover': darken(#c9727a, 10%),
  ),
  'secondary': (
    'name': 'Secondary',
    'base': var(--color-secondary),
    'hover': darken(#efcec8, 10%),
  ),
  'pink': (
    'name': 'Pink',
    'base': var(--color-pink),
    'hover': darken(#faeeed, 10%),
  ),
  'gray-light': (
    'name': 'Gray Light',
    'base': #dfe3e5,
    'hover': darken(#dfe3e5, 10%),
  ),
  'gray': (
    'name': 'Gray',
    'base': #f5f6f4,
    'hover': darken(#f5f6f4, 10%),
  ),
  'gray-dark': (
    'name': 'Gray Dark',
    'base': #e7e7e7,
    'hover': darken(#e7e7e7, 10%),
  ),
  'gray-darker': (
    'name': 'Gray Darker',
    'base': #a7a7a7,
    'hover': lighten(#a7a7a7, 10%),
  ),
  'gray-darkest': (
    'name': 'Gray Darkest',
    'base': var(--color-font),
    'hover': lighten(#717171, 10%),
  ),
  'red': (
    'name': 'red',
    'base': #ff0033,
    'hover': darken(#ff0033, 10%),
  ),
);

// --------------------------------------------------
// Get the color from the name or key
//
// @param string $name
// @param string $key
// @return string $value
// --------------------------------------------------

@function color($name: null, $key: null) {
  $color: null;
  $value: '';

  @if ($name) {
    $color: map-get($colors, $name);
    $value: map-get($color, 'base');

    @if ($key) {
      $value: map-get($color, $key);
    }
  }

  @return $value;
}
