// --------------------------------------------------
// breakpoints & media queries
// --------------------------------------------------

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

$mq-min-sm: '(min-width: #{$breakpoint-sm})';
$mq-min-md: '(min-width: #{$breakpoint-md})';
$mq-min-lg: '(min-width: #{$breakpoint-lg})';
$mq-min-xl: '(min-width: #{$breakpoint-xl})';
$mq-min-xxl: '(min-width: #{$breakpoint-xxl})';

$mq-max-xs: '(max-width: #{$breakpoint-sm - 1px})';
$mq-max-sm: '(max-width: #{$breakpoint-md - 1px})';
$mq-max-md: '(max-width: #{$breakpoint-lg - 1px})';
$mq-max-lg: '(max-width: #{$breakpoint-lg - 1px})';
$mq-max-xl: '(max-width: #{$breakpoint-xl - 1px})';
$mq-max-xxl: '(max-width: #{$breakpoint-xxl - 1px})';

// --------------------------------------------------
// row spacing
// --------------------------------------------------

$row-gutter-width: 1rem;
$row-column-count: 12;

// --------------------------------------------------
// borders
// --------------------------------------------------

$global-border-width: 2px;
$global-border-color-primary: color('primary');
$global-border-style-primary: dashed;
$global-border-color-secondary: color('secondary');
$global-border-style-secondary: solid;
$global-border-radius: 4px;

$global-border-primary: $global-border-width $global-border-color-primary
  $global-border-style-primary;
$global-border-secondary: $global-border-width $global-border-color-secondary
  $global-border-style-secondary;

// --------------------------------------------------
// box shadow
// --------------------------------------------------

$global-box-shadow: 1px 2px 5px rgba(106, 106, 106, 0.25);

// --------------------------------------------------
// transitions
// --------------------------------------------------

$global-transition-fast: all 0.15s ease;
$global-transition-slow: all 0.3s ease;

// --------------------------------------------------
// font color
// --------------------------------------------------

$font-color-base: color('gray-darkest');
$heading-color-base: color('black');

// --------------------------------------------------
// font families
// --------------------------------------------------

$font-family-primary: var(--font-family-primary);
$font-family-secondary: var(--font-family-secondary);
$font-family-tertiary: var(--font-family-tertiary);
$font-family-base: $font-family-primary;

// --------------------------------------------------
// font weight
// --------------------------------------------------

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// --------------------------------------------------
// font size
// --------------------------------------------------

$font-size-base: 18px;

$font-size-xs: rem(12);
$font-size-sm: rem(14);
$font-size-md: rem($font-size-base);
$font-size-lg: rem(20);
$font-size-xl: rem(22);

$font-size-h1: rem(50);
$font-size-h2: rem(36);
$font-size-h3: rem(28);
$font-size-h4: rem(24);
$font-size-h5: $font-size-lg;
$font-size-h6: $font-size-md;

// --------------------------------------------------
// line height
// --------------------------------------------------

$line-height-base: 1.5;
$line-height-headings: $line-height-base * 0.9;

// --------------------------------------------------
// type margin
// --------------------------------------------------

$type-margin-base: $line-height-base * 1rem;

// --------------------------------------------------
// padding
// --------------------------------------------------

$padding-xxs: rem(24);
$padding-xs: rem(32);
$padding-sm: rem(48);
$padding-md: rem(64);
$padding-lg: rem(88);
$padding-xl: rem(104);
